# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env files (si tu utilises des variables d'environnement)
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
 
# Firebase service account (sensitive)
server/serviceAccountKey.json

server/serviceAccountKey.json
